{% extends 'base.html' %}

{% block content %}
<h1>Лента постов</h1>
<a href="{% url 'create_post' %}">Создать пост</a>

{% for post in posts %}
    <div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <p>Автор: <a href="{% url 'user_profile' post.author.username %}">{{ post.author.username }}</a></p>
        <p>Лайков: {{ post.like_set.count }}</p>
        <form action="{% url 'like_post' post.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Лайк</button>
        </form>
        {% if post.author == user %}
            <a href="{% url 'delete_post' post.id %}">Удалить</a>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}